<h2>Number Insight Details</h2>
<h3>Number: <%= params[:number] %></h3>

<table>
    <th>
        <tr>
            <% @data.each do |k, v| %>
                <th><%= k %></th>
            <% end %>    
        </tr>
         <tr>
            <% @data.each do |k, v| %>
                <% if v.class == Nexmo::Entity %>
                    <td>
                        <% v.to_h.each do |subkey, subvalue| %>
                            <%= subvalue %>
                        <% end %>
                    </td>
                <% else %>
                    <td><%= v %></td>
                <% end %>
            <% end %>
        </tr>
    </th>
</table>